

/* 1.rule */

.site-header > p {
    color: white;
    margin-bottom: 0;
  }
  
  
  /* 2.rule*/

  .site-footer > p {
    font-size: 12px;
    text-align: center;
  }
  
  /* 3.rule*/
  
  .message:last-child {
    box-shadow: 4px 4px 0 #dba944;
  }
  